---
import { Picture } from 'astro:assets';
import img from '~/assets/mountains-8314422.svg';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout title="关于" description="关于本站" currentNav="About">
	<Picture
		class="lg:float-right lg:ml-4 lg:w-2/5"
		src={img}
		formats={['avif', 'webp']}
		alt="山脉插画"
	/>
	<p>你好，我是 Li Kai。</p>
	<p>
		这是我的个人博客，用于记录技术折腾、生活感悟以及一些有趣的发现。
	</p>
	<p>
		平时关注的领域包括云计算、网络优化、Web 开发等。
	</p>
	<p>
		欢迎通过邮件或社交媒体与我交流。
	</p>
</MarkdownLayout>
